<!DOCTYPE html>
<html lang="en">
  <div class="dropdown">
    <div class="btn-group btn-group-right" role="group" aria-label=" ">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Register
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% if user_signed_in? %>
            <li><a href="#">Welcome <%= current_user.name %> </a></li>
            <li><a href="#">Role: <%= current_user.role %></a></li>
            <li><a href="#"><%= link_to('Edit registration', edit_user_registration_path) %></a></li>
          <% if current_user.admin? %>
            <li><a href="#"><%= link_to('Upgrade', users_path) %></li>
          <% else %>
            <%= link_to "Upgrade", root_path, class: 'btn btn-default' %>
          <% end %>


        <% else %>
          <li><a href="#"><%= link_to('Register', new_user_registration_path)  %></a></li>
        <% end %>
    </ul>
  </div>
</div>
</html>
