<p id="notice"><%= notice %></p>

<h1>Listing Mailer Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailer_users.each do |mailer_user| %>
      <tr>
        <td><%= mailer_user.name %></td>
        <td><%= mailer_user.email %></td>
        <td><%= mailer_user.login %></td>
        <td><%= link_to 'Show', mailer_user %></td>
        <td><%= link_to 'Edit', edit_mailer_user_path(mailer_user) %></td>
        <td><%= link_to 'Destroy', mailer_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailer user', new_mailer_user_path %>
