<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mailer_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mailer_user.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @mailer_user.login %>
</p>

<%= link_to 'Edit', edit_mailer_user_path(@mailer_user) %> |
<%= link_to 'Back', mailer_users_path %>
