<nav class="navbar navbar-pills">
  <div class="container-fluid">

<br>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Calendar", calendars_path %></li>

        <% if user_signed_in? %>
        <ul>Signed in as: <%= current_user.name %></ul>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= render 'devise/menu/registration_items'%>
        <%= render 'devise/menu/login_items'%>

      </div>
  </div>
</ul>
<p> Welcome - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete'%></p>

</nav>
