<nav class="navbar navbar-pills">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/index"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Calendar", calendars_path %></li>
        <li><%= link_to "Requests", events_path %></li>
        <% if current_user && !current_user.manager? %>

        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= render 'devise/menu/registration_items'%>
        <%= render 'devise/menu/login_items'%>

      </div>
  </div>
</ul>
  <% if user_signed_in? %>
    <ul>Signed in as: <%= current_user.try(:email) %></ul>
  <% end %>
</nav>
