<div class="col-md-4">
  <%= link_to "New Event", new_event_path, class: 'btn btn-default btn-sm' %>
  <%= link_to "Calendar", calendars_path, class: 'btn btn-default btn-sm' %>
</div>
<h1>All Events</h1>
<style>
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
}
</style>
<body>
<table style="width:100%">
      <th colspan="5"></th>
        <tr>
          <th>#ID</th>
          <th>Date</th>
          <th>Event Name</th>
          <th>Action</th>
        </tr>
      <tbody>
          <% @events.each do |event| %>
          <tr>
              <td><%=  event.id %></td>
              <td><%=  event.occurs_on %></td>
              <td><%=  event.name %></td>
              <td><%= link_to "Delete event", event_path(event), method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure you want to delete this event?' } %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </body>
