<h5>

  Employee:<%= current_user.name %><br />

  <br />
  <% if user_signed_in? %>
    Requested <%= @countdays %> days of PTO <br />
    Total number of <%= @hours %> hours
</h5>

<h5>
    Supervisor has Approved:<br />
    Request for <%= @approveddays %> days of PTO <br />
    Total number of hours  <%= @approvedhours %> hours
    <% end %>
</h5>
