<h5>

Employee:<%= current_user.name %><br />

<br />

You requested <%= @countdays %> days of PTO <br />
Total number of <%= @hours %> hours
</h5>

<h5>
Supervisor has Approved:<br />
Your request for <%= @approveddays %> days of PTO <br />
Total number of hours  <%= @approvedhours %> hours
</h5>
