<!DOCTYPE html>
<html>
<head>
  <title>Paid Time Off</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <div class="container">
     <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Calendar", calendars_path %></li>
      <li><%= link_to "Requests", events_path %></li>
      <div class="pull-right user-info">
        <% if user_signed_in? %>
    <p> Hey There Beer Person, <%= current_user.name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete'%></p>

    <br>
    <% end %>
    </div>
   </ul>

  <%= yield %>

  </div>
</body>
</html>
